{% extends 'iot_app/base.html' %}

{% block title %}Devices for {{ user.username }}{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Serial #</th>
        <th scope="col">Model</th>
        <th scope="col">Date Registered</th>
      </tr>
    </thead>
    <tbody>
      {% for userdevice in userdevice_list %}
        <tr>
          <th scope="row"><a href="{% url 'iot_app:userdevice' userdevice.device_id %}">{{ userdevice.device.serial }}</a></th>
          <td>{{ userdevice.device.model.name }}</td>
          <td>{{ userdevice.date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
