    <canvas id="canvas-{{ chart_id }}"></canvas>
	<script>
        $.ajax({
            url: "{{ data_url }}",
            dataType: 'json',
            success: function (data) {
                chartjs_data = influx_to_chartjs(data);
                var config = {
                    type: 'line',
                    data: {
                        datasets: chartjs_data
                    },
                    options: {
                        responsive: true,
                        scales: {
                            xAxes: [{
                                type: 'time',
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value'
                                }
                            }]
                        }
                    }
                };
                var ctx = document.getElementById('canvas-{{ chart_id }}').getContext('2d');
                var chart = new Chart(ctx, config);
            }
        });
	</script>
